<div class="main-bg">
  <div class="box-conatiner">
    <div id="a">
      <div class="circle-ripple"></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="wrap-login">
          
          <h2>
            Welcome!
            
          </h2>
          <span class="login-form-title">
            login to get started
          </span>
          <form class="login-form p-l-55 p-r-55 p-t-20">

            <div class="wrap mt-lg-5">
              <button class="login-form-btn" (click)="Google()">
               <img src="../../assets/icon-google.svg" alt="" class="pr-lg-3 asset"> 
                Sign in with Google
              </button>
            </div>
            <div class="wrap mt-lg-4" (click)="Email()">
              <button class="login-form-btn">
                <img src="../../assets/mail.svg" alt="" class="pr-lg-4 asset" height="25px"> 
                Sign in with Email
              </button>
            </div>
            
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 second">
        
      </div>
      
    </div>
  </div>
</div>